<header>Stock Dashboard</header>
<div class="flex-container">
    <div class="half trend-up">GLD 107.09</div>
    <div class="half trend-up">BTC 9447.67</div>
</div>
<div>
    <br>
    <form>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    <input type="text" class="form-control" id="tickerfield" placeholder="Enter stock ticker">
                </div>
                <select class="selectpicker form-control" id="portfoliofield">
                    <option>Choose a portfolio catagory</option>
                    <option class="dropdown-color">Energy</option>
                    <option class="dropdown-color">Materials</option>
                    <option class="dropdown-color">Industrials</option>
                    <option class="dropdown-color">Consumer Discretionary</option>
                    <option class="dropdown-color">Consumer Staples</option>
                    <option class="dropdown-color">Health Care</option>
                    <option class="dropdown-color">Financials</option>
                    <option class="dropdown-color">Information Technology</option>
                    <option class="dropdown-color">Telecommunication Services</option>
                    <option class="dropdown-color">Utilities</option>
                    <option class="dropdown-color">Real Estate</option>
                    <option class="dropdown-color">Custom One</option>
                    <option class="dropdown-color">Custom Two</option>
                    <option class="dropdown-color">Custom Three</option>
                </select>
                <button type="submit" class="btn btn-primary mt-2 btn btn-block" id="addStockButton">Add Stock</button>
            </div>
        </div>
    </form>
    <div id="quote1">Holder for apiCall Test</div> <!-- Need to add into handlebar sections -->
{{#each portfolio}}
{{#if dataValues.display}}
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#{{dataValues.portfolio_id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{dataValues.portfolio_name}}---{{dataValues.stock_1}}
    </a>
</p>
<div class="collapse" id="{{dataValues.portfolio_id}}">
  <div class="card card-body">
    {{dataValues.stock_1}}<br>
    {{#if dataValues.stock_2}}
    {{dataValues.stock_2}}<br>
    {{/if}}
    {{#if dataValues.stock_3}}
    {{dataValues.stock_3}}<br>
    {{/if}}
    {{#if dataValues.stock_4}}
    {{dataValues.stock_4}}<br>
    {{/if}}
    {{#if dataValues.stock_5}}
    {{dataValues.stock_5}}<br>
    {{/if}}
    {{#if dataValues.stock_6}}
    {{dataValues.stock_6}}<br>
    {{/if}}
    {{#if dataValues.stock_7}}
    {{dataValues.stock_7}}<br>
    {{/if}}
    {{#if dataValues.stock_8}}
    {{dataValues.stock_8}}<br>
    {{/if}}
    {{#if dataValues.stock_9}}
    {{dataValues.stock_9}}<br>
    {{/if}}
    {{#if dataValues.stock_10}}
    {{dataValues.stock_10}}
    {{/if}}
  </div>
</div>
{{/if}}
{{/each}}


        <header>Portfolio Type One STATIC DATA</header>
        <div class="flex-container-stocks">
          <div class="eight trend-up">AMZN</div>
          <div class="eight trend-up">Amazon.com Inc</div>
          <div class="eight trend-up">C 3081.11</div>
          <div class="eight trend-up">H 3087.97 </div>
          <div class="eight trend-up">L 3012.43</div>
          <div class="eight trend-up">TG-H 3000</div>
          <div class="eight trend-up">TG-L 1850</div>
          <div class="eight trend-up">TG-M 2700</div>
      
  
          <div class="eight trend-up">AMZN</div>
          <div class="eight trend-up">Amazon.com Inc</div>
          <div class="eight trend-up">C 3081.11</div>
          <div class="eight trend-up">H 3087.97 </div>
          <div class="eight trend-up">L 3012.43</div>
          <div class="eight trend-up">TG-H 3000</div>
          <div class="eight trend-up">TG-L 1850</div>
          <div class="eight trend-up">TG-M 2700</div>
      
  
          <div class="eight trend-up">AMZN</div>
          <div class="eight trend-up">Amazon.com Inc</div>
          <div class="eight trend-up">C 3081.11</div>
          <div class="eight trend-up">H 3087.97 </div>
          <div class="eight trend-up">L 3012.43</div>
          <div class="eight trend-up">TG-H 3000</div>
          <div class="eight trend-up">TG-L 1850</div>
          <div class="eight trend-up">TG-M 2700</div>
      </div>
