<header>Stock Dashboard</header>
<div class="flex-container">
    <div class="half trend-up">GLD 107.09</div>
    <div class="half trend-up">BTC 9447.67</div>
</div>
<div>
    <br>
    <form>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    <input type="text" class="form-control" id="tickerfield" placeholder="Enter stock ticker">
                </div>
                <select class="selectpicker form-control" id="portfoliofield">
                    <option>Choose a portfolio catagory</option>
                    <option class="dropdown-color">Energy</option>
                    <option class="dropdown-color">Materials</option>
                    <option class="dropdown-color">Industrials</option>
                    <option class="dropdown-color">Consumer Discretionary</option>
                    <option class="dropdown-color">Consumer Staples</option>
                    <option class="dropdown-color">Health Care</option>
                    <option class="dropdown-color">Financials</option>
                    <option class="dropdown-color">Information Technology</option>
                    <option class="dropdown-color">Telecommunication Services</option>
                    <option class="dropdown-color">Utilities</option>
                    <option class="dropdown-color">Real Estate</option>
                    <option class="dropdown-color">Custom One</option>
                    <option class="dropdown-color">Custom Two</option>
                    <option class="dropdown-color">Custom Three</option>
                </select>
                <button type="submit" class="btn btn-primary mt-2 btn btn-block" id="addStockButton">Add Stock</button>
            </div>
        </div>
    </form>
    <div id="quote1"></div> <!-- Need to add into handlebar sections -->
    {{#each portfolio}}
    {{#if dataValues.display}}
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#{{dataValues.portfolio_id}}" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            {{dataValues.portfolio_name}}
        </a>
    </p>
    <div class="collapse" id="{{dataValues.portfolio_id}}">
        <div class="card card-body">

            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_1}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{#if dataValues.stock_2}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_2}}</div>
                <div class="eight trend-up">Lovesac Co</div>
                <div class="eight trend-up">C 81.11</div>
                <div class="eight trend-up">H 87.97 </div>
                <div class="eight trend-up">L 12.43</div>
                <div class="eight trend-up">TG-H 100</div>
                <div class="eight trend-up">TG-L 50</div>
                <div class="eight trend-up">TG-M 70</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_3}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_3}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_4}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_4}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_5}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_5}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_6}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_6}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_7}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_7}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_8}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_8}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_9}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_9}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
            {{#if dataValues.stock_10}}
            <div class="flex-container-stocks">
                <div class="eight trend-up">{{dataValues.stock_10}}</div>
                <div class="eight trend-up">BP</div>
                <div class="eight trend-up">C 3081.11</div>
                <div class="eight trend-up">H 3087.97 </div>
                <div class="eight trend-up">L 3012.43</div>
                <div class="eight trend-up">TG-H 3000</div>
                <div class="eight trend-up">TG-L 1850</div>
                <div class="eight trend-up">TG-M 2700</div>
            </div>
            <br>
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{/each}}


    {{!-- <header>Portfolio Type One TEST STATIC DATA</header>
    <div class="flex-container-stocks">
        <div class="eight trend-up">AMZN</div>
        <div class="eight trend-up">Amazon.com Inc</div>
        <div class="eight trend-up">C 3081.11</div>
        <div class="eight trend-up">H 3087.97 </div>
        <div class="eight trend-up">L 3012.43</div>
        <div class="eight trend-up">TG-H 3000</div>
        <div class="eight trend-up">TG-L 1850</div>
        <div class="eight trend-up">TG-M 2700</div>


        <div class="eight trend-up">AMZN</div>
        <div class="eight trend-up">Amazon.com Inc</div>
        <div class="eight trend-up">C 3081.11</div>
        <div class="eight trend-up">H 3087.97 </div>
        <div class="eight trend-up">L 3012.43</div>
        <div class="eight trend-up">TG-H 3000</div>
        <div class="eight trend-up">TG-L 1850</div>
        <div class="eight trend-up">TG-M 2700</div>


        <div class="eight trend-up">AMZN</div>
        <div class="eight trend-up">Amazon.com Inc</div>
        <div class="eight trend-up">C 3081.11</div>
        <div class="eight trend-up">H 3087.97 </div>
        <div class="eight trend-up">L 3012.43</div>
        <div class="eight trend-up">TG-H 3000</div>
        <div class="eight trend-up">TG-L 1850</div>
        <div class="eight trend-up">TG-M 2700</div>
    </div> --}}